header{
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-text{
    top: 34px;
    left: 160px;
    width: 220px;
    height: 63px;
    text-align: left;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
    font-size: 30px;
}
.about{
    cursor: pointer;
    padding-top: 20px;
    top: 59px;
    left: 544px;
    width: 83px;
    height: 16px;
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
    opacity: 1;
    font-size: 20px;
}
.stories{
    cursor: pointer;
    padding-top: 20px;
    top: 59px;
    left: 736px;
    width: 100px;
    height: 16px;
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
    opacity: 1;
    font-size: 20px;
}

.news{
    cursor: pointer;
    padding-top: 20px;
    top: 59px;
    left: 928px;
    width: 161px;
    height: 16px;
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
    opacity: 1;
    font-size: 20px;
}

.button1{
    cursor: pointer;
    top: 40px;
    left: 1120px;
    width: 200px;
    height: 48px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    text-align: center;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    border: none;
    font-size: 20px;
}

.image1 img{
    top: 128px;
    left: 0px;
    width: 100%;
    background: transparent  0% 0% no-repeat padding-box;
    opacity: 0.76;
}

.sc1{
    top: 256px;
    left: 160px;
    width: 544px;
    height: 416px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    position:absolute;
}

.sc2{
    top: 240px;
    left: 224px;
    width: 160px;
    height: 40px;
    background: #354463 0% 0% no-repeat padding-box;
    opacity: 1;
    position:absolute;
}

.sc1-text1{
    top: 332px;
    left: 224px;
    width: 416px;
    height: 221px;
    text-align: left;
    font: normal normal bold 44px/56px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
    position:absolute;
}

.sc1-text2{
    cursor: pointer;
    top: 581px;
    left: 224px;
    width: 380px;
    height: 16px;
    text-align: left;
    text-decoration: underline;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
    opacity: 1;
    position:absolute;
}

.sc2-text1{
    top: 254px;
    left: 268px;
    width: 80px;
    height: 14px;
    text-align: left;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
    opacity: 1;
    position:absolute;
}

.image2 img{
    top: 265px;
    left: 939px;
    width: 30%;
    background: transparent url('img/#stop climate change.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    position:absolute;
}

.section2{
    top: 950px;
    left: 8px;
    width: 99.2%;
    height: 240px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}

.box1{
    top: -20px;
    left: 840px;
    width: 160px;
    height: 40px;
    background: #354463 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}

.box1-text{
    top: -8px;
    left: 842px;
    width: 158px;
    height: 18px;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color:white;
    opacity: 1;
    position: absolute;
}

.sub-section2{
    display: flex;
    justify-content: space-around;
    padding-left: 160px;
    padding-top: 80px;
}

.content-text1{
    text-align: left;
    font: normal normal bold 28px/36px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
    font-size: 40px;
}

.content-text2{
    padding-top: 4%;
    width: 70%;
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
    opacity: 1;
    font-size: 20px;
}

.section3{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 1440px;
    background: #354463 0% 0% no-repeat padding-box;
    opacity: 1;
}

.s3-box1{
    top: 1300px;
    left: 160px;
    width: 160px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}

.s3-box1-text{
    top: 1310px;
    left: 160px;
    width: 160px;
    height: 18px;
    text-align: center;
    position: absolute;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
    opacity: 1;
    font-size: 15px;

}

.s3-text1{
    top: 1408px;
    left: 160px;
    width: 1222px;
    height: 140px;
    text-align: left;
    position: absolute;
    font: normal normal bold 44px/56px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.s3-box2{
    display: flex;
    justify-content: space-around;
    padding-top: 700px;;
    
}

.s3-box2-box1{
    width: 370px;
    height: 568px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.s3-box2-box2{
    width: 370px;
    height: 568px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.s3-box2-box3{
    width: 370px;
    height: 568px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}


.s3-box3 img{
    width: 370px;
    background: transparent url('img/tree-planting.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.s3-box3-3{
    top: 1652px;
    left: 192px;
    position: absolute;
}

.s3-box3-4{
    top: 1652px;
    left: 820px;
    position: absolute;
}

.s3-box3-5{
    top: 1652px;
    left: 1448px;
    position: absolute;
}

.s3-box2-box1-text1{
    padding-top: 60%;
    width: 288px;
    height: 70px;
    text-align: left;
    font: normal normal bold 28px/36px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
    font-size: 230%;
    padding-left: 14%;
}

.s3-box2-box1-text2{
    padding-top: 10%;
    width: 276px;
    height: 144px;
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
    opacity: 1;
    padding-left: 14%;
    font-size: 110%;
}

.button2{
    cursor: pointer;
    width: 200px;
    height: 48px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    text-align: center;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    border: none;
    font-size: 20px;
    margin-left: 21%;
}

.section4{
    width: 99.1%;
    height: 1440px;
}
.image3 img{
    left: 9px;
    width: 99.1%;
    background: transparent url('img/Did you know background.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}

.s4-box1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 1440px;
    padding-left: 58%;
    padding-top: 7%;
}

.s4-box1-box1{
    width: 600px;
    height: 300px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 0;
}

.s4-box1-box2{
    width: 600px;
    height: 300px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 0;
}

.s4-box1-box3{
    width: 600px;
    height: 300px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 0;
}

.s4-box1-box4{
    width: 600px;
    height: 300px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 0;
}

.s4-box1-text1{
    width: 398px;
    height: 44px;
    text-align: left;
    font: normal normal bold 44px/56px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
    font-size: 350%;
    padding-left: 10%;
    padding-top: 16%;
}

.s4-box1-text2{
    width: 376px;
    height: 68px;
    background: transparent url('img/People living in poverty depend on agriculture for survival..png') 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #354463;
    font-size: 150%;
    padding-left: 10%;
    padding-top: 5%;
}

.image4{
    top: 2606px;
    left: 180px;
    width: 437px;
    height: 300px;
    background: transparent url('img/Climate change Is a hunger issue..png') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}

.image4 img{
    width: 150%;
}

.button3{
    cursor: pointer;
    width: 230px;
    height: 48px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    text-align: center;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    border: none;
    font-size: 20px;
    margin-left: 11%;
    position: absolute;
    top: 3100px;
}

.s4-box2{
    top: 2594px;
    left: 1149px;
    width: 190px;
    height: 50px;
    position: absolute;
    background: #354463 0% 0% no-repeat padding-box;
    opacity: 1;
    
}

.s4-box2-text{
    top: 2610px;
    left: 1165px;
    width: 158px;
    height: 18px;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    position: absolute;
    letter-spacing: 0.56px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 110%;
}

.section5{
    width: 100%;
    height: 1024px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.image5{
    top: 4250px;
    left: 860px;
    width: 640px;
    height: 568px;
    position: absolute;
    background: transparent url('img/lady-baby.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}



.s5-box1{
    top: 4352px;
    right: 980px;
    width: 544px;
    height: 344px;
    position: absolute;
    background: #354463 0% 0% no-repeat padding-box;
    opacity: 1;
}

.s5-box1-text1{
    top: 4390px;
    left: 450px;
    width: 416px;
    height: 196px;
    text-align: left;
    font: normal normal bold 28px/36px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}

.s5-box1-text2{
    top: 4640px;
    left: 450px;
    width: 300px;
    position: absolute;
    height: 14px;
    text-align: left;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
    opacity: 1;
}

.button4{
    cursor: pointer;
    width: 230px;
    height: 48px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    text-align: center;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    position: absolute;
    border: none;
    font-size: 20px;
    margin-left: 19.5%;
    top: 4770px;
}

.section6{
    top: 4216px;
    left: 0px;
    width: 100%;
    height: 1726px;
    background: #354463 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-bottom: 5%;
}

.s6-text1{
    top: 114px;
    left: 162px;
    width: 847px;
    height: 148px;
    text-align: left;
    font: normal normal normal 72px/76px Flood Std;
    position: relative;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}


.s6-s1{
    padding-top: 10%;
    display: flex;
    justify-content: space-around;
}

.s6-s1-s1{
    display: flex;
    flex-direction: column;
}

.s6-box1{
    width: 160px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.s6-box1-text{
    width: 160px;
    height: 18px;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
    opacity: 1;
    padding-top: 12px;
    font-size: 20px;
}

.s6-s1-s1-text1{
    padding-top: 34px;
    width: 348px;
    height: 165px;
    text-align: left;
    font: normal normal bold 44px/56px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.s6-s1-s1-text2{
    padding-top: 34px;
    width: 448px;
    height: 153px;
    text-align: left;
    font: normal normal 300 20px/32px Helvetica;
    letter-spacing: -0.4px;
    color: #FFFFFF;
    opacity: 1;
}

.button5{
    cursor: pointer;
    width: 230px;
    height: 48px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    text-align: center;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    border: none;
    font-size: 20px;
    margin-top: 69px;
}

.section7{
    padding-top: 90px;
    width: 100%;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: space-around;
    padding-bottom: 80px;
}

.email{
    width: 280px;
    height: 45px;
    background: white;
    border-radius: 100px;
    opacity: 1;
    letter-spacing: 0px;
    color: #354463; 
    border: none;
    padding-left: 26px;
    font-size: 18px;
    font: normal normal Helvetica;
    margin-right: 1%;
    margin-top: 0.6%;
}

.s7-text{
    width: 544px;
    height: 70px;
    text-align: left;
    font: normal normal bold 28px/36px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
    margin-left: 10%;

}

.button6{
    cursor: pointer;
    width: 230px;
    height: 48px;
    background: #354463;
    border-radius: 100px;
    opacity: 1;
    text-align: center;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #C1F7D5;
    border: none;
    font-size: 20px;
    margin-right: 20%;
    margin-top: 0.6%;
}

footer{
    width: 100%;
    height: 371px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: space-around;
}

.footer-box{
    display: flex;
    justify-content: space-between;
    padding-right: 14%;
}

.footer-sub-box{
    display: flex;
    flex-direction: column;
    padding: 10%;
    padding-top: 20%;
}

.footer-text{
    padding-top: 8%;
    width: 232px;
    height: 100px;
    text-align: left;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
    font-size: 200%;
}

.sub-text-1{
    width: 160px;
    height: 14px;
    text-align: left;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
    opacity: 1;
    font-size: 120%;
    padding-bottom: 10px;
}

.sub-text-2{
    cursor: pointer;
    padding-top: 10px;
    width: 106px;
    height: 74px;
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
    font-size: 90%;
}

.image7{
    width: 240px;
    background: transparent url('img/#stop climate change.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-top: 6%;
}

hr{
    width: 160px;
}